#homepageContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.welcome_image {
    background-image: url("/public/images/trees2.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
}

section.content.page-home.has_welcome {
    padding-top: 200px;
}

section.content.page-home {
    padding-top: 290px;
}

section.content {
    margin: 0 auto 360px auto;
    max-width: 1300px;
    padding: 0 20px;
    padding-top: 90px;
    width: 100%;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.categories {
    zoom: 1;
    margin: 0 10px 0;
}

.categories.two_categories li {
    width: 50%;
}

.categories li a {
    display: block;
    overflow: hidden;
    position: relative;
}

.categories li a img {
    display: block;
    height: 100%;
    margin: auto;
}

.categories li {
    float: left;
    padding: 10px;
    width: 33.33%;
}

.image {
    position: absolute;
    width: 620px;
    height: 620px;

    max-width: none;
    max-height: none;

    left: 0;
    right: 0;
}

.categories:after {
    content: "";
    display: table;
    clear: both;
}

img {
    border-style: none;
}

section {
    display: block;
    background-color: black;
}

.welcome_overlay {
    background-color: black;
    bottom: 0;
    height: 100%;
    left: 0;
    opacity: 0.35;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}

.welcome_image .welcome_text {
    -moz-transform: translateX(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: relative;
    top: calc(50% - 45px);
    padding: 0 20px;
}

#logoImage {
    width: 500px;
    height: 500px;
    line-height: 1.6em;
    margin-bottom: 20px;
}

.featured_products {
    color: white;
    text-align: center;
    margin: 0 0 60px;
    font-size: 26px;
    margin-top: 200px;
}